/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sans-Serif', Times New Roman;
}

body {
  margin: 5px;
  padding: 5px;
  background-color: #2e739bc2; /* Fondo general */
  display: flex;
  flex-direction: column;
}

/* Estilo de Header */
header {
  background-color: #fdd806f8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(78, 50, 50, 0.2);
  position: relative;
  text-align: center;
}

header .logo img {
  height: 60px;
}

header nav.menu ul {
  display: flex;
  list-style: none;
}

header nav.menu ul li {
  margin: 0 10px;
}

header nav.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s;
}

header nav.menu ul li a:hover {
  color: #4CAF50; /* Efecto hover en los enlaces */
}

/* Redes sociales */
.redes-sociales {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4CAF50;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(78, 50, 50, 0.2);
}

.redes-sociales a img {
  height: 30px;
  margin: 0 10px;
}

/* Botones generales */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
  background-color: #3e8e41;
  transform: scale(1.05);
}

button.active {
  background-color: #f44336;
}

/* Sección principal */
main {
  padding: 20px;
}

main #intro {
  text-align: center;
  margin: 20px 0;
}

main #servicios {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

main section {
  margin-bottom: 20px;
}

main section h4 {
  margin-bottom: 10px;
  color: #333;
}

/* Footer */
footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px 10px;
  text-align: center;
  margin-top: 50px;
}

footer .whatsapp-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #25d366;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

footer .whatsapp-button:hover {
  background-color: #1ebe57;
  transform: scale(1.05);
}

footer .whatsapp-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Clases de utilidad */
.hidden {
  display: none;
}

.container {
  padding: 1em;
  background-color: #82ADAB;
}

.my-first-grid {
  padding: 40px;
  background-color: #071;
  border-radius: 1em;
  margin: 20px 0;
}
